<!DOCTYPE html>
<html>
<head>
<title>Daily Report</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css'>
<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body style="margin: 0; padding: 0;">

<ul>
  <li th:each="item : ${emailContext}">
  	<h4 th:text="${item['key']}"></h4>
  	<table align="center" border="1" cellpadding="0" cellspacing="0"
		width="600">
		<tr>
			<td> Time-Slot </td>
			<td>Court Price</td>
			<td>Shoes</td>
			<td>Drinks</td>
			<td>Raqckets</td>
			<td>Shuttels</td>
			<td>Time Slot Total</td>
		</tr>

		<tr th:each="timeSlot: ${item['value']}">
			<td th:text="${timeSlot.TimeSlotCode}"></td>
			<td th:text="${timeSlot.CourtPrice}"></td>
			<td th:text="${timeSlot.Shoes}"></td>
			<td th:text="${timeSlot.Drinks}"></td>
			<td th:text="${timeSlot.Racquets}"></td>
			<td th:text="${timeSlot.Shuttels}"></td>
			<td th:text="${timeSlot.Total}"></td>
		</tr>
		
		<tr>
        <td colspan="3" />
        <td>
        <label> Court Total </label>
  		<h5 th:text="${#aggregates.sum(item['value'].![Total])}"></h5></td>
    	</tr>
	</table>
	
	 <div>
  		<label> Court Total </label>
  		<h5 th:text="${#aggregates.sum(item['value'].![Total])}"></h5>
  	</div>
  	
  </li>
</ul>
	

</body>
</html>